Flask==3.1.2
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Limiter==4.1.1
Flask-Mail==0.10.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1

SQLAlchemy==2.0.46
alembic==1.18.1

numpy==2.4.3
pandas==3.0.1

openpyxl==3.1.5

python-dotenv==1.2.1
requests==2.32.5
redis==7.1.1

psycopg2-binary==2.9.11

gunicorn==25.0.3
gevent==25.9.1

Werkzeug==3.1.5
